header {
    text-align: right;
    padding:0px;
}

footer {
    background-color: #52ab98;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    height: 30px;
    margin-top: 30px;
    position:absolute;
    bottom:0px;
    width: 100%;
    padding: 30px;
    min-height:5em;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700 !important;
    color: white;
    margin-right:30px;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    background-color: #2b6777;
    color: white;
    text-align: center;
}

.navbar, .navbar-expand-lg, .navbar-light, bg-light, .nav {
    background-color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: black;
}

a:hover {
    
    color: #52ab98 !important;
}

table{ 
    background-color:#ffffff;
    color: black;
    width: 100%;
}

th, td {
    border: 1px solid black;
    width: 40px;
}

table.formTable tr, table.formTable td{
    border: white;
    margin-top:5px;
    margin-bottom:5px;
}

.fa-magnifying-glass {
    color:#52ab98;
}

.fa-magnifying-glass:hover {
    color:white;
}